/***********abstracts*************/
/*************colors*********/
/*******text*********/
/*****font weight*******/
/******components********/
/**************about page*************/
.about {
  max-width: 1100px;
  margin: 0 auto;
}

.about__img {
  border-radius: 0.5rem;
}

.who {
  gap: 5rem;
  margin-top: 15rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
}

.who__title {
  font-size: 4rem;
}

.who__description, .readmore {
  font-size: 2.2rem;
}

.who__title {
  margin-bottom: 2rem;
  font-size: 4rem;
  line-height: 1.2;
}

.software {
  margin-top: 4rem;
}

.software__title {
  text-decoration: underline;
  font-weight: bold;
}

.skills {
  margin-top: 10rem;
  width: 70%;
  margin-bottom: 5rem;
}

.msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
  gap: 20rem;
}

.msg__left {
  font-size: 2.2rem;
}

.msg__right {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.resume {
  border: 1px solid #606060;
  background-color: transparent;
  padding: 1.2rem 2.5rem;
  color: #181717;
  font-size: 1.6rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.resume:hover {
  background-color: #181717;
  color: #f3f3f3;
}

/************media query***********/
@media only screen and (max-width: 768px) {
  .who__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .who__right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .who__description {
    font-size: 2rem;
  }
  .msg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .msg__left {
    margin-bottom: 3rem;
    font-size: 2remf;
  }
  .readmore {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 376px) {
  .who__title {
    font-size: 4.2rem;
  }
  .who {
    margin-top: 5rem;
  }
}

/**********nav-menu*******/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem auto;
  font-family: 'Oswald';
}

.nav__item {
  list-style-type: none;
  display: inline-block;
}

.nav__link {
  text-decoration: none;
  color: #181717;
  margin: auto 2rem;
  font-size: 2.1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.nav__link:hover {
  color: #2429AF;
}

.logo {
  width: 6.746rem;
}

/*******hamburger********/
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    left: -100%;
    top: 10rem;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav__menu.active {
    left: 0;
  }
  .nav__item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 2rem;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .lock-scroll {
    overflow: hidden;
  }
  body.lock-scroll {
    overflow: hidden;
  }
}

/*********about**************/
.hero {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
}

.hero__title {
  font-size: 6rem;
  letter-spacing: -3%;
  line-height: 97.2%;
  font-weight: 500;
}

.hero__paragraph {
  font-size: 3.2rem;
}

.arrow {
  margin-top: 7rem;
  padding: 2rem;
}

/************media query************/
@media only screen and (max-width: 768px) {
  .hero {
    margin: 7rem auto;
  }
  .hero__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0;
  }
  .hero__title {
    margin-bottom: 2rem;
    font-size: 4rem;
  }
  .hero__paragraph {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 376px) {
  .hero {
    height: 60vh;
  }
}

/*************colors*********/
/*******text*********/
/*****font weight*******/
/********footer***********/
.footer {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 25px;
  color: #181717;
}

.social__link i {
  color: #181717;
  -webkit-transition: 0.2s color ease-in-out;
  transition: 0.2s color ease-in-out;
}

.social__link i:hover {
  color: #606060;
}

.social__link:not(:last-child) {
  margin-right: 3rem;
}

.copyright {
  color: #181717;
  font-family: 'Oswald', sans-serif;
}

/*****media query********/
@media only screen and (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .copyright {
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
  }
  .social {
    font-size: 1.4rem;
  }
}

/***********projects**********/
.manage {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
  margin: 4rem auto;
}

.manage__sub-description {
  font-size: 1.4rem;
}

.manage__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

.manage__link a {
  text-decoration: underline;
}

.see-live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.manage__title, .manage__description, .manage__sub-description {
  margin-bottom: 2rem;
}

/*******media query**********/
@media only screen and (max-width: 768px) {
  .manage {
    justify-items: start;
  }
  .manage__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .project__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .manage__title {
    margin-top: 1.5rem;
  }
  .manage__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .project__title {
    width: 90%;
    margin-top: 8rem;
  }
}

/********project page***********/
.project__title {
  font-size: 3.2rem;
  margin-top: 15rem;
  text-align: left;
  width: 80%;
  margin: 10rem auto 0 auto;
  font-size: 2.7rem;
  text-align: center;
}

.blog button {
  border: 1px solid #606060;
  outline: none;
  padding: 1.2rem 2.4rem;
  background-color: transparent;
  color: #181717;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.blog button:hover {
  border: 1px solid #606060;
  background-color: #606060;
  color: #f3f3f3;
}

.blog__top {
  text-align: center;
  margin: 3rem;
}

.blog__one {
  margin-top: 0;
}

/**********css reset**********/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f3f3f3;
  font-size: 1.8rem;
  width: 90%;
  margin: 0 auto !important;
  max-width: 120rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #2429AF;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-family: "Oswald";
}

.active {
  -webkit-text-decoration-color: #2429AF;
          text-decoration-color: #2429AF;
  -webkit-text-decoration-line: 3px;
          text-decoration-line: 3px;
}

/*******grid**************/
.grid {
  display: -ms-grid;
  display: grid;
}

.grid--1x2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

/*********media query*********/
@media only screen and (max-width: 760px) {
  .grid--1x2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */