/*************colors*********/
/*******text*********/
/*****font weight*******/
/**********reset**********/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f3f3f3;
  font-size: 1.8rem;
  width: 90%;
  margin: 0 auto !important;
  max-width: 120rem;
}

/**********nav-menu*******/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem auto;
}

.nav__item {
  list-style-type: none;
  display: inline-block;
}

.nav__link {
  text-decoration: none;
  color: #181717;
  margin: auto 2rem;
  font-size: 2.1rem;
}

.logo {
  width: 6.746rem;
}

/*******hamburger********/
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    left: -100%;
    top: 10rem;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav__menu.active {
    left: 0;
  }
  .nav__item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

/*********about**************/
.about {
  margin-top: 15rem;
  margin-bottom: 5rem;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-size: 6rem;
  letter-spacing: -3%;
  line-height: 97.2%;
}

.about__paragraph {
  font-size: 3.2rem;
}

.arrow {
  margin-top: 7rem;
}

/*****media query***************/
@media only screen and (max-width: 760px) {
  .about {
    margin: 7rem auto;
  }
  .about__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__title {
    margin-bottom: 2rem;
    font-size: 4rem;
  }
  .about__paragraph {
    font-size: 2.5rem;
  }
  .arrow {
    margin-top: 4rem;
    width: 3rem;
  }
}

/***********projects**********/
.project__img {
  max-width: 100%;
  height: auto;
}

.manage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem auto;
  gap: 3rem;
}

.manage__sub-description {
  font-size: 1.4rem;
}

.manage__title, .manage__description, .manage__sub-description {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=main.css.map */