@import './partials/variables';
@import './partials/mixins.scss';


/******components********/
@import './components/about';
@import './components/nav';
@import './components/footer';
@import './components/project';
@import './components/blog';



/**********css reset**********/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'DM Sans', sans-serif;
    background-color: $main-white;
    font-size: 1.8rem;
    width: 90%;
    margin: 0 auto !important;
    max-width: 120rem;
}
a {
    text-decoration: none;
    color: $secondary;
}
img {
    max-width: 100%;
    height: auto;
}
.active {
    // text-decoration: underline;
    text-decoration-color: $secondary;
    text-decoration-line: 3px;
}
/*******grid**************/
.grid {
    display: grid;
}
.grid--1x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr
}
/*********media query*********/ 
@media only screen and (max-width: 760px){
    .grid--1x2 {
        grid-template-columns: 1fr
    }
}

