@import './partials/variables';
@import './partials/mixins.scss';

/**********reset**********/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'DM Sans', sans-serif;
    background-color: $main-white;
    font-size: 1.8rem;
    width: 90%;
    margin: 0 auto !important;
    max-width: 120rem;
}
a {
    text-decoration: none;
    color: $secondary;
}
/*******grid**************/
.grid {
    display: grid;
}
.grid--1x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr
}
/*********media query*********/ 
@media only screen and (max-width: 760px){
    .grid--1x2 {
        grid-template-columns: 1fr
    }
}
/**********nav-menu*******/ 
.nav {
    @include flex-s-b;
    margin: 5rem auto;
}
.nav__item {
    list-style-type: none;
    display: inline-block;
}
.nav__link {
    text-decoration: none;
    color: $main-black;
    margin: auto 2rem;
    font-size: $navigation;
}
.logo {
    width: 6.746rem;
}

/*******hamburger********/
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .nav__menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: -100%;
        top: 10rem;
        flex-direction: column;
        background-color: #f3f3f3;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav__menu.active {
        left: 0;
    }

    .nav__item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}




/*********about**************/
.about {
    margin-top: 15rem;
    margin-bottom: 5rem
}
.about__text {
    @include flex-s-b;
}
.about__title {
    font-size: $heading__1;
    letter-spacing: -3%;
    line-height: 97.2%;
}
.about__paragraph {
    font-size: $heading__2;
}
.arrow {
    margin-top: 7rem;
}


/*****media query***************/
@media only screen and (max-width: 760px){
    .about {
        margin: 7rem auto;
    }
    .about__text {
        flex-direction: column;
        align-items: flex-start;
    }
    .about__title {
        margin-bottom: 2rem;
        font-size: 4rem;
    }
    .about__paragraph {
        font-size: 2.5rem;
    }
    .arrow {
        margin-top: 4rem;
        width: 3rem;
    }
}




/***********projects**********/
.project__img {
    max-width: 100%;
    height: auto;
}
.manage {
    align-items: center;
    justify-items: end;
    margin: 4rem auto;
}
.manage__sub-description {
    font-size: $sub-text;
}
.manage__link {
    display: flex;
    gap: 5rem;
}
.manage__link a {
    text-decoration: underline;
}
.see-live {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.manage__title, .manage__description, .manage__sub-description {
    margin-bottom: 2rem;
}

/*******media query**********/
@media only screen and (max-width: 760px){
    .manage {
        justify-items: start;
    }
    .manage__left {
        order: 2;
    }
    .project__img {
        order: 1;
    }
    .manage__link {
        flex-direction: column;
        gap: 2rem;
    }
}



/********footer***********/
.footer {
    margin-top: 10rem;
    padding: 3rem auto;
    @include flex-s-b;
}
.social__link {
    color: $main-black;
    transition: 0.3s ease-in-out;
}
.social__link:hover {
    text-decoration: underline;
}
.social__link:not(:last-child) {
    margin-right: 3rem;
}
.copyright {
    color: $secondary;
}
/*****media query********/
@media only screen and (max-width: 760px) {
    .footer {
        flex-direction: column;
        align-items: start;
    }
    .copyright {
        margin-bottom: 4rem;
    }
}