/***********abstracts*************/
@import "./partials/variables";
@import "./partials/mixins";

/******components********/
@import "./components/about";
@import "./components/nav";
@import "./components/footer";
@import "./components/project";
@import "./components/blog";

/***fonts****/
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap");

/**********css reset**********/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Baloo 2", sans-serif;
  scroll-padding-top: 100px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  margin: 0 auto !important;
  font-weight: 300;
  color: $text-color;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
}
.main__wrapper {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
}
main {
  background-color: rgb(40, 44, 52);
}
/*******grid**************/
.grid {
  display: grid;
}
.grid--1x2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

/*********media query*********/
@media only screen and (max-width: 760px) {
  .grid--1x2 {
    grid-template-columns: 1fr;
  }
}

.logo {
  width: 60px;
}
