/**************about page*************/
.about {
  padding: 4rem 0;
}
.about p {
  line-height: 1.7;
}
.about__img {
  border-radius: 5px;
}
.about__title {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.light {
  color: $title;
}
