.blog button {
  border: 1px solid var(--text-color);
  outline: none;
  padding: 1.2rem 2.4rem;
  background-color: transparent;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
.blog button:hover {
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  color: var(--main-white);
}
.blog__top {
  text-align: center;
  margin: 3rem;
}
.blog__one {
  margin-top: 0;
}
// .read-all {display: flex;justify-content: center;align-items: center;margin: 3rem 0;border: 1px solid $main-gray;color: $main-black;}
