@import "../partials/variables";

.blogs {
  @include flex(left, center, 20px, "");
  flex-wrap: wrap;
}
.blog__box {
  max-width: 400px;
  background-color: $nav-background;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 4px 15px $nav-background;
}
.blog__box-title {
  color: $title;
}
.blog__title {
  color: $title;
  font-size: 3rem;
}
.blog__box .wrapper {
  @include flex(left, flex-start, 10px, column);
}
.blog__btn {
  display: block;
  background-color: $heading;
  color: $title;
  padding: 1rem 1.5rem;
  width: auto;
  border-radius: 2px;
}

@media only screen and (max-width: 911px) {
  .blogs {
    flex-direction: column;
  }
  .blog__box {
    min-width: 90%;
  }
}
