@import "../partials/variables";
.graphic__works {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;
}

.graphic__works .work {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .graphic__works .work {
    width: 100%;
  }
}
