@import "../partials/variables";

/**********nav-menu*******/
.nav {
  position: sticky;
  top: 0;
  z-index: 999999;
  padding: 1rem;
  background-color: $nav-background;
  // box-shadow: 0px 4px 15px $nav-background;
}
.nav__menu {
  display: flex;
}
.nav__wrapper {
  @include flex-s-b;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.nav__item {
  list-style-type: none;
  display: inline-block;
}
.nav__link {
  text-decoration: none;
  color: var(--text-color);
  margin: auto 2rem;
  font-size: $navigation;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.nav__link:hover {
  color: $title;
}
.logo {
  width: 60px;
}

/*******hamburger********/
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in-out;
  background-color: $title;
}

@media only screen and (max-width: 768px) {
  .nav__menu {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    padding: 6rem 0;
    background-color: $background-color;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav__menu.active {
    display: block;
  }
  .nav__link {
    color: var(--main-white);
  }

  .nav__item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 2rem;
    z-index: 9999;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .lock-scroll {
    overflow: hidden;
  }
  body.lock-scroll {
    overflow: hidden;
  }
  .logo {
    width: 5.746rem;
  }
}

@media only screen and (max-width: 300px) {
  .hero__title {
    font-size: $heading__2;
  }
}
/*********about**************/
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero__text {
  @include flex-s-b;
  gap: 10rem;
}
.hero__title {
  font-size: $heading__1;
  letter-spacing: -3%;
  line-height: 97.2%;
  font-weight: 500;
  color: $title;
}
.hero__paragraph {
  font-size: $heading__2;
  color: $title;
}
.arrow {
  margin-top: 7rem;
  padding: 2rem;
}

/************media query************/
@media only screen and (max-width: 768px) {
  .hero {
    margin: 7rem auto;
  }
  .hero__text {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .hero__title {
    margin-bottom: 2rem;
    font-size: 4rem;
  }
  .hero__paragraph {
    font-size: 2.3rem;
  }
}
