@import "../partials/variables";
/***********projects**********/
.manage {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: left;
  // text-align: left;
  background-color: $card-background;
  border: 1px solid $card-background;
  padding: 1.5rem;
  border-radius: 8px;
  gap: 1rem;
  max-width: 400px;
}
.manage img {
  width: 100px;
  flex-grow: 1;
}
.manage__content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;
}
.manage__sub-description {
  font-size: $sub-text;
}
.manage__link {
  display: flex;
  gap: 1rem;
  justify-content: left;
  margin: 1rem 0;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
}
.manage__link a {
  padding: 0.6rem 0.8rem;
  color: $link-color;
  background-color: $link-background;
  border: 1px solid $link-border;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}
.manage__link a:hover {
  opacity: 1;
}
.see-live {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.manage__title {
  color: $heading;
  font-size: 2.5rem;
}

/*******media query**********/
@media only screen and (max-width: 1024px) {
  .manage__content {
    justify-content: center;
  }
}

.project .title {
  color: $title;
  font-size: 3rem;
}
