@import "../partials/variables";
/***********projects**********/
.manage {
  align-items: center;
  justify-items: end;
  margin: 4rem auto;
  background-color: $nav-background;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0px 4px 15px $nav-background;
}
.manage__sub-description {
  font-size: $sub-text;
}
.manage__link {
  display: flex;
  gap: 5rem;
}
.manage__link a {
  text-decoration: underline;
  color: $heading;
  opacity: 0.9;
  transition: 0.2s ease-in-out;
}
.manage__link a:hover {
  opacity: 1;
}
.see-live {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.manage__title {
  color: $heading;
  font-size: 2.5rem;
}
.manage__title,
.manage__description,
.manage__sub-description {
  margin-bottom: 2rem;
}

/*******media query**********/
@media only screen and (max-width: 768px) {
  .manage {
    justify-items: start;
    max-width: 600px;
    // margin: auto 0;
  }
  .manage__left {
    order: 2;
  }
  .project__img {
    order: 1;
  }
  .manage__title {
    margin-top: 1.5rem;
  }
  .manage__link {
    flex-direction: column;
    gap: 2rem;
  }
}

.project .title {
  color: $title;
  font-size: 3rem;
}
