@mixin flex-s-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin align-grid {
  align-items: center;
  justify-items: end;
}

@mixin flex($justify, $align, $gap, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
}
