/*************colors*********/
$main-black: #181717;
$main-gray: #606060;
$main-white: #f3f3f3;
$secondary: #2429AF;


/*******text*********/
$heading__1: 6rem;
$heading__2: 3.2rem;
$body: 1.8rem;
$navigation: 2.1rem;
$sub-text: 1.4rem;


/*****font weight*******/
$regular: 400;
$medium: 500;
$bold: 600;