/*************light mode*********/
$background-color: #181717;
$text-color: rgba(235, 240, 255, 0.6);
$link: #181717;
$button: #606060;
$heading: rgb(253, 181, 74);
$title: rgb(238, 238, 238);
$nav-background: rgb(28, 30, 36);
$nav__link: rgb(208, 213, 223);
/*******text*********/
$heading__1: 6rem;
$heading__2: 3.2rem;
$body: 1.8rem;
$navigation: 2.1rem;
$sub-text: 1.4rem;

/*****font weight*******/
$regular: 400;
$medium: 500;
$bold: 600;
