/*************light mode*********/
$main-black: #181717;
$text-color: #181717;
$note: #181717;
$main-gray: #606060;
$main-white: #f3f3f3;


/**********dark mode********/
// $main-gray: #606060;
// $main-black: #211806;
// $text-color: #372e19;
// $main-white: #f1e2c0;
// $note: #fdb54a;


/**********darker mode********/
// $secondary: #6b4a00;
// $text__color: #b3b9c5;
// $main-white: #252525;
// $note: #6b4a00;


/*******text*********/
$heading__1: 6rem;
$heading__2: 3.2rem;
$body: 1.8rem;
$navigation: 2.1rem;
$sub-text: 1.4rem;


/*****font weight*******/
$regular: 400;
$medium: 500;
$bold: 600;